@font-face {
    font-family: AntiqReg;
    src: url(../../fonts/InknutAntiqua-Regular.ttf);
}
@font-face {
    font-family: Juli;
    src: url(../../fonts/JuliusSansOne-Regular.ttf)
}
@mixin styletx($lh, $fs){
    line-height: $lh;
    font-size: $fs;
}
@mixin centers(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button($width: 180px) {
  width: $width;
  position: relative;
  @include centers();
  cursor: pointer;
  background: none;
  border: none;
  transition: all 1s;
  .button__text {
    text-transform: uppercase;
    @include styletx(56px, 20px);
    letter-spacing: -0.05em;
    z-index: 2;
    transition: text-shadow 0.2s ease;
  }
  .button__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.2s ease;
  }
  &:hover {
    .button__bg {
      transform: scale(1.05);
    }
    .button__text {
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
    }
  }
}
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    color: #fff;
    font-family: AntiqReg;
    font-weight: normal;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 2.23%, rgba(0, 0, 0, 0) 50%), linear-gradient(0deg, #000000 10.62%, rgba(0, 0, 0, 0) 30.57%), url(../../images/about_main.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:
        top,
        bottom,
        top;
    flex-direction: column;
    @include centers();
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: AntiqReg;
    @include centers();
}
.container{
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-bottom: 62px;
    .container{
        display: flex;
        align-items: center;
        .header__logo{
            width: 82px;
            height: 150px;
            @include centers();
            margin-right: 168px;
        }
        .header__nav{
            @include centers();
            margin-right: 140px;
            .header__nav-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                width: 780px;
                .header__nav-item{
                    .header__nav-link{
                        @include styletx(30px, 20px);
                    }
                }
            }
        }
        .button{
            @include button(180px);
        }
        .header__utils{
            display: flex;
            gap: 20px;
            align-items: center;
            .header__flag{
                width: 64px;
                @include centers();
            }
            .header__mail{
                width: 38px;
                @include centers();
            }
        }
    }
}
.main {
    width: 100%;
    margin-bottom: 178px;
    .container{
        display: flex;
        align-items: end;
        .main__image{
            width: 860px;
            fill: rgba(0, 0, 0, 0.8);
            fill-opacity: 1;
            filter: drop-shadow(8px 8px 4px #02A8F6);
            margin-right: -340px;
            margin-bottom: 100px;
        }
        .main__info{
            display: flex;
            flex-direction: column;
            .main__title{
                @include styletx(72px, 64px);
                letter-spacing: -0.05em;
                font-family: AntiqReg;
                padding-left: 126px;
                width: 230px;
                margin-bottom: 40px;
            }
            .main__text{
                padding: 100px 50px;
                @include centers();
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(10px);
                border-radius: 20px;
                flex-direction: column;
                .main__paragraph{
                    max-width: 930px;
                    @include styletx(32px, 16px);
                    text-indent: 80px;
                    letter-spacing: 0;
                    .main__highlight{
                        letter-spacing: 0;
                        @include styletx(32px, 16px);
                        color: #D8E114;
                    }
                }
            }
        }
    }
}
.footer {
    width: 100%;
    .container{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .footer__nav {
            @include centers();
            flex-direction: column;
            gap: 12px;
            .footer__nav-menu {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .footer__nav-item {
                    display: flex;
                    height: 180px;
                    justify-content: center;
                    align-items: center;
                    .footer__nav-icon {
                        position: absolute;
                        z-index: 1;
                    }
                    .footer__nav-link {
                        @include styletx(30px, 20px);
                        display: flex;
                        z-index: 2;
                    }
                }
            }
            .footer__line{
                @include centers();
            }
        }
        .footer__logo {
            @include centers();
            flex-direction: column;
            gap: 10px;
            .footer__logo-text{
                text-transform: uppercase;
                font-family: Juli;
                @include styletx(20px, 20px);
                letter-spacing: -0.05em;
                min-width: 140px;
            }
        }
        .footer__support {
            width: max-content;
            @include centers();
            flex-direction: column;
            gap: 13px;
            .footer__support-text {
                @include styletx(30px, 20px);
                width: 160px;
                text-transform: uppercase;
            }
            .footer__support-buttons {
                display: flex;
                justify-content: space-between;
                min-width: 640px;
                .footer__button{
                    border: 2px solid rgba(255, 255, 255, 0.8);
                    border-radius: 15px;
                    @include centers();
                }
                .footer__button--stream{
                    width: 100%;
                    max-width: 390px;
                    gap: 5px;
                    padding: 12px 0;
                    .footer__text-stream{
                        display: flex;
                        width: 154px;
                        @include styletx(32px, 18px);
                        letter-spacing: -0.05em;
                    }
                    a{
                        display: flex;
                        width: 202px;
                        @include styletx(32px, 18px);
                        letter-spacing: -0.05em;
                        text-transform: lowercase;
                        color: #B491F5;
                    }
                }
                .footer__button--donation{
                    width: 100%;
                    max-width: 224px;
                    padding: 12px 0;
                    gap: 10px;
                    pre{
                        text-align: center;
                        width: 151px;
                        letter-spacing: -0.05em;
                        @include styletx(32px, 18px);
                    }
                }
            }
            .footer__support-icons {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

@media(max-width: 1660px){
    .container{
        max-width: 1280px;
    }
    .header{
        .container{
            justify-content: space-between;
            .header__logo{
                margin-right: 0px;
            }
            .header__nav{
                margin-right: 0px;
                .header__nav-list{
                    width: 600px;
                }
            }
            .button{
                margin-right: 0px;
            }
        }
    }

    .footer{
        .container{
            .footer__support{
                .footer__support-buttons{
                    gap: 10px;
                    flex-direction: column;
                    min-width: 460px;
                    .footer__button--stream{
                        max-width: none;
                        padding: 6px 0;
                        .footer__text-stream{
                            display: none;
                        }
                    }
                    .footer__button--donation{
                        max-width: none;
                    }
                }
                .footer__support-icons{
                    display: grid;
                    justify-items: center;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, auto);
                    row-gap: 10px;
                }
            }
            .footer__nav{
                gap: 4px;
                width: max-content;
                .footer__nav-menu{
                    width: 100%;
                    align-items: start;
                    .footer__nav-item:nth-of-type(2), 
                    .footer__nav-item:nth-of-type(4){
                        padding-top: 80px;
                        height: 260px;
                    }
                }
                .footer__line{
                    width: 100%;
                    .footer__line-image{
                        width: 512px;
                    }
                }
            }
        }
    }
}


@media(max-width: 1366px){
    .container{
        max-width: 1060px;
    }
    .header{
        .container{
            .header__nav{
                .header__nav-list{
                    width: 540px;
                    .header__nav-item{
                        .header__nav-link{
                            line-height: 24px;
                            font-size: 18px;
                        }
                    }
                }
            }
            .button{
                width: 162px;
                .button__text{
                    font-size: 18px;
                    line-height: 50px;
                }
                .button__bg{
                    height: 50px;
                    width: 162px;
                }
            }
        }
    }
    .footer{
        .container{
            .footer__nav{
                .footer__nav-menu{
                    .footer__nav-item{
                        .footer__nav-link{
                            font-size: 18px;
                        }
                    }
                }
                .footer__line{
                    .footer__line-image{
                        width: 460px;
                    }
                }
            }
            .footer__support{
                .footer__support-buttons{
                    min-width: 360px;
                }
            }
        }
    }
}

@media(max-width: 1140px){
    .container{
        max-width: 800px;
    }
    .header{
        .container{
            .header__nav{
                .header__nav-list{
                    width: 300px;
                    gap: 30px;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .main{
        .container{
            .main__image{
                display: none;
            }
        }
    }
    .footer{
        .container{
            flex-direction: column;
            position: relative;
            gap: 20px;
            .footer__logo{
                position: absolute;
                height: 100%;
                pointer-events: none;
                img{
                    height: 100%;
                    width: auto;
                    pointer-events: none;
                    opacity: 0.15;
                }
                .footer__logo-text{
                    display: none;
                }
            }
            .footer__nav{
                order: 1;
            }
        }
    }
}

@media(max-width: 992px){
    .container{
        max-width: 680px;
    }
    .header{
        .container{
            display: grid;
            grid-template-areas:
                "logo nav utils"
                "logo nav button";
            .header__logo{
                grid-area: logo;
            }
            .header__nav{
                grid-area: nav;
            }
            .button{
                grid-area: button;
            }
            .header__utils{
                justify-content: center;
                grid-area: utils;
            }
        }
    }
}

@media(max-width: 768px){
    .container{
        max-width: 480px;
    }
    .header{
        .container{
            .header__logo{
                width: 54px;
                height: 100px;
                svg{
                    width: 54px;
                    height: 100px;
                }
            }
            .header__nav{
                .header__nav-list{
                    width: 260px;
                    gap: 20px;
                    .header__nav-item{
                        .header__nav-link{
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .button{
                align-self: flex-end;
                width: 120px;
                .button__text{
                    font-size: 16px;
                    line-height: 40px;
                }
                .button__bg{
                    object-fit: cover;
                    height: 40px;
                    width: 120px;
                }
            }
            .header__utils{
                align-self: flex-end;
                gap: 10px;
                .header__flag{
                    width: 46px;
                    height: 30px;
                    svg{ 
                        width: 46px;
                        height: 30px;
                    }
                }
                .header__mail{
                    height: 20px;
                    width: 30px;
                    svg{
                        height: 20px;
                        width: 30px;
                    }
                }
            }
        }
    }
    .main{
        .container{
            .main__info{
                .main__title{
                    width: fit-content;
                    font-size: 40px;
                }
                .main__text{
                    padding: 30px 20px;
                    .main__paragraph{
                        font-size: 14px;
                        text-indent: 40px;
                    }
                }
            }
        }
    }
    .footer{
        .container{
            gap: 10px;
            .footer__nav{
                .footer__nav-menu{
                    .footer__nav-item:nth-of-type(2), 
                    .footer__nav-item:nth-of-type(4){
                        padding-top: 0;
                        height: 152px;
                    }
                    .footer__nav-item{
                        height: 152px;
                        .footer__nav-icon{
                            height: 152px;
                        }
                        .footer__nav-link{
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
                .footer__line{
                    .footer__line-image{
                        width: 480px;
                    }
                }
            }
            .footer__support{
                width: 100%;
                gap: 10px;
                .footer__support-text{
                    font-size: 18px;
                    text-align: center;
                }
                .footer__support-buttons{
                    flex-direction: row;
                    width: 100%;
                    .footer__button{
                        border-radius: 10px;
                    }
                    .footer__button--donation{
                        padding: 4px 0;
                        pre{
                            width: fit-content;
                            span{
                                display: none;
                            }
                        }
                    }
                    .footer__button--stream{
                        padding: 4px;
                        .footer__text-stream{
                            line-height: 0;
                        }
                        a{
                            line-height: 20px;
                            width: fit-content;
                            font-size: 16px;
                        }
                    }
                }
                .footer__support-icons{
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px){
    .container{
        max-width: 300px;
    }
    .header{
        .container{
            .header__nav{
                display: none;
            }
            .header__nav-burger{
                grid-area: nav;
                display: flex;
                gap: 5px;
                flex-direction: column;
                .burger-rect{
                    width: 40px;
                    height: 6px;
                    background: white;
                }
            }
        }
    }
    .footer{
        .container{
            .footer__nav{
                order: 0;
                .footer__nav-menu{
                    flex-wrap: wrap;
                    width: 300px;
                    column-gap: 30px;
                    row-gap: 16px;
                    justify-content: center;
                    .footer__nav-item{
                        height: auto;
                        .footer__nav-icon{
                            display: none;
                        }
                    }
                    .footer__nav-item:nth-of-type(2),
                    .footer__nav-item:nth-of-type(4){
                        height: auto;
                    }
                }
                .footer__line{
                    width: 100px;
                    .footer__line-image{
                        width: 300px;
                    }
                }
            }
            .footer__support{
                .footer__support-buttons{
                    min-width: 300px;
                    flex-direction: column;
                    align-items: center;
                    .footer__button{
                        width: 220px;
                    }
                }
                .footer__support-icons{
                    display: grid;
                }
            }
        }
    }
}