@forward "main__header";
@forward "main__footer";
@forward "main__feedback";
@forward "main__main";
@forward "main__updates";
@forward "main__services";
@forward "animation";

@forward "main__adaptive";