@use "mixins" as mix;
@use "fonts";

.updates::after{
  content: '';
  position: absolute;
	z-index: -1;
	width: 100%;
  height: 380px;
	background-image: url(../../images/lineConnect.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
  top: -200px;
  pointer-events: none;
}
.updates{
  width: 100%;
  position: relative;
  z-index: -1;
  background: url(../../images/BG2Updates.png);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  .container::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../images/light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 120px;
    animation: k-light 3s ease-in-out infinite;
    z-index: 0;
    pointer-events: none;
  }
  .container{
    @include mix.centers();
    flex-direction: column;
    .updates__tittles{
      @include mix.centers();
      flex-direction: column;
      gap: 20px;
      margin-bottom: 12px;
      .updates__bigText{
        @include mix.styletx(72px, 64px);
        width: 346px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
      }
      .updates__cardCounter{
        @include mix.styletx(80px, 52px);
        letter-spacing: -0.05em;
        width: 78px;
      }
    }
    .updates__cardContainer{
      @include mix.centers();
      position: relative;
      flex-direction: column;
      margin-bottom: 168px;
      .buttonBorder{
        @include mix.centers();
        padding: 0px 203px;
        background: rgba(0, 0, 0, 0.2);
        border: 3px solid rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        span{
          text-transform: uppercase;
          @include mix.styletx(50px, 20px);
          letter-spacing: -0.05em;
          @include mix.centers();
          width: 98px;
        }
      }
      .updates__backBubbles{
        position: absolute; 
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.6;
        animation: k-bubbles 1.5s ease-in-out infinite;
	      animation-direction: alternate;
      }
      .updates__connecting{
          width: 944px;
          height: 220px;
          position: absolute;
          top: 58px;
          z-index: -3;
          opacity: 0.3;
      }
      .updates__allCards{
        margin-bottom: 32px;
        display: flex;
        gap: 114px;
        position: relative;
        height: 660px;
        width: 100%;
        justify-content: center;
        .card{
          cursor: pointer;
          justify-content: center;
          align-items: end;
          position: relative;
          width: 200px;
          height: 330px;
          opacity: 0.4;
          div[class*="card__for"]{
            position: absolute;
            perspective: 150px;
	          transform-style: preserve-3d;
            @include mix.centers();
            width: 200px;
            height: 330px;
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            flex-direction: column;
            will-change: transform;
            .card__mainImage{
              width: 100px;
              height: 180px;
              border-radius: 20px;
              border: 4px solid #000000;
              filter: drop-shadow(0px 0px 30px #000000);
            }
            .card__mainImage::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(180deg, 
                  rgba(0, 0, 0, 0) 50%, 
                  rgba(0, 0, 0, 0.85) 66.72%
              );
              border-radius: 36px;
              pointer-events: none;
              display: none;
            }
          }
          .card__forLeft{
            perspective-origin: left center;
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
            animation: k-left-side 2s ease-in-out infinite;
	          animation-direction: alternate;
          }
          .card__forRight{
            animation: k-right-side 2s ease-in-out infinite;
	          animation-direction: alternate;
            perspective-origin: right center;
	          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          }
          .captionCont{
            justify-content: center;
            align-items: center; 
            flex-direction: column;
            gap: 8px;
            margin-bottom: 176px;
            z-index: 0;
            display: none;
            p{
              @include mix.styletx(24px, 18px);
              letter-spacing: -0.05em;
              width: 200px;
              text-align: center;
            }
            .adaptive{
              display: none;
            }
            .button{
              border: 2px solid #FFFFFF;
              border-radius: 10px;
              padding: 2px 14.5px;
              span{
                display: block;
                width: 47px;
                @include mix.styletx(20px, 16px);
                letter-spacing: 0;
              }
            }
          }
        }
        .card--visible{
          display: flex;
        }
        .card--active{
          align-self: flex-end;
          width: 400px;
          height: 660px;
          opacity: 1;
          div[class*="card__for"]{
            width: 400px;
            height: 660px;
            .card__mainImage{
              width: 200px;
              height: 360px;
              border-radius: 40px;
            }
            .card__mainImage::after{
              display: block;
            }
          }
          .captionCont{
            display: flex;
          }
        }
        .card:not(.card--visible) {
          display: none;
        }
      }
      .updates__sliderButtons{
        position: absolute;
        bottom: 184px;
        @include mix.centers();
        gap: 400px;
        >div{
          cursor: pointer;
          @include mix.centers();
          flex-direction: column;
          img[alt="swordDown"]{
            margin-top: -30px;
            width: 132px;
            height: 88px;
          }
        }
        .updates__rightButtonSlide{
          transform: scaleX(-1);
        }
      }
    }
    .updates__banner{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 60px 56px 60px;
      border: 4px solid #FFFFFF;
      border-radius: 30px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100,5%;
      background-position: center;
      margin-bottom: 100px;
      .updates__textBanner{
        @include mix.styletx(72px, 64px);
        letter-spacing: -0.1em;
        text-transform: uppercase;
        span{
          color: #00FF4D;
        }
        width: 883px;
      }
      .updates__textBanner+.updates__textBanner{
        margin-bottom: 16px;
      }
      .button--252{
          @include mix.button(252px);
      }
    }
    .updates__events{
      gap: 23px;
      @include mix.centers();
      margin-bottom: 112px;
      img{
        width: 64px;
        height: 32px;
      }
      .updates__event-text{
        @include mix.styletx(32px, 40px);
        letter-spacing: -0.05em;
        width: 360px;
        text-transform: uppercase;
      }
    }
    .content__large-line{
      width: 1550px;
      height: 56px;
    }
  }
}
