@use "mixins" as mix;
@use "fonts";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: AntiqReg;
  font-weight: normal;
}
html, body, div.wrapper{
  width: 100%;
  background: rgb(161, 161, 161);
}
.contentAll{
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include mix.centers();
  position: relative;
  z-index: 0;
  background: rgb(161, 161, 161);
}
a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: AntiqReg;
  @include mix.centers();
}
.container{
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
}
